@page
@model DataLabelingSupportSystem.UI.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h2>Không có quyền truy cập</h2>
<p>Bạn không có quyền để xem trang này.</p>

<a asp-page="/Index">Về trang chủ</a>
<a asp-page="/Account/Login">Đăng nhập tài khoản khác</a>
